:root{
    --color-primary: #1aa7f5;
    --color-primary-dark: #1a4d7e;
    --color-secondary: #e65e75;
    --color-neutral-light: #a49ebd;
    --color-neutral-1: #726c8a;
    --color-neutral: #2f2a43;
    --color-neutral-dark: #222031;
    --color-white: #ffffff;
    --color-black: #0f0e13;
}


